@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/superfish/dist/css/superfish"
@import "app/libs/font-awesome/scss/font-awesome"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.all"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
		
.mm-menu
	top: 40px
	max-height: 440px
	&.mm-offcanvas
		z-index: 2
	.fa
		display: none

.sect-universal
	background-color: #efefef
	padding: 60px 0
	background-size: cover
	position: relative
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: .85
	h2
		margin-bottom: 45px
		font-size: em(40px)
		line-height: em(18px)

.sect-news
	background-image: url(../img/news-bg.jpg)
	color: #fff
	&::before
		background-color: $main-color

.new-item
	.new-item-text
		margin-bottom: 25px
	background-color: #efefef
	padding: 1px 1px 32px 1px
	color: #111
	text-align: center
	margin: 20px 0
	&:hover
		.new-item-img
			&::before
				opacity: .7
			.fa
				opacity: .4
	&-img
		min-height: 180px
		background-size: cover
		display: block
		position: relative
		.fa
			font-size: 30px
			color: #fff
			position: absolute
			top: 50%
			left: 50%
			margin-left: -10px
			margin-top: -10px
			opacity: 0
			transition: all .5s ease
		&::before
			position: absolute
			content: ""
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: $main-color
			opacity: 0
			transition: all .5s ease
	h4, p
		padding: 0 20px
	p
		font-size: em(14px)
		margin:
			top: 0
	h4
		margin-bottom: 20px

.link-item
	display: block
	padding: 14px
	border: 4px $accent solid
	background-color: #FFF
	color: #111
	text-decoration: none
	margin:
		top: 15px
		bottom: 15px
	&::after
		display: block
		content: ''
		clear: both
	.h4
		text-decoration: underline
		line-height: 18px
		font-size: 16px
		display: block
	&:hover
		text-decoration: none
		.h4
			text-decoration: none
	img
		width: 34px
		height: auto
		float: left
		margin-right: 10px

//ALWAYS END
@import "media"


